* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	list-style: none;
	text-decoration: none;
	color: black;
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

nav {
	width: 100%;
	height: auto;
	background-color: rgb(239, 239, 239);
	display: grid;
	grid-template-rows: 20px 180px;
}

nav #left {
	display: flex;
	justify-content: flex-end;
}

nav #left li {
	margin-right: 20px;
	color: black;
}

nav #right {
	display: flex;
	flex-direction: column;
	justify-content: end;
}

nav #right span {
	margin-bottom: 20px;
}

nav #right span:nth-child(1) {
	font-size: xx-large;
}

nav #right span:nth-child(2) {
	font-size: large;
	font-weight: 750;
}

nav #right-side {
	display: flex;
}

nav #right-side li {
	margin-left: 20px;
}

nav #right-side li:first-child {
	margin-left: 0;
}

nav #right-side input {
	margin-left: 20px;
}

.main {
	display: flex;
	margin: 0;
	width: 100%;
	height: auto;
	margin-top: 30px;
	text-align: center;
}

#side-bar {
	width: 20%;
	height: auto;
	flex-shrink: 0;
}

#side-bar2 {
	width: 100%;
	height: 300px;
	background-color: rgb(239, 239, 239);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#side-bar2 span {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin: 20px;
}

#furnitureMain {
	width: 80%;
	height: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.7fr 0.3fr 0.7fr 0.3fr;
	
}

footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
	text-align: center;
	padding: 10px;
}

#center {
	font-weight: bold;
	font-size: larger;
}

#time {
	color: rgb(170, 168, 168);
}

#up {
	text-align: left;
}