.main_box{
  display: grid;
  color: #212121;
}





.box_1{
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 5%;

  font-size: larger;
  font-weight: 700;
}

.box_2{
  display: grid;
  grid-template-rows: 1fr 2fr;
}
/*---*/
#info{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}

#info_1{
  border-top: 5px solid #212121;
  border-bottom: 1px solid #EFEFEF;
  font-size: large;
  font-family: 'Bold Italic', sans-serif;
  font-weight: 700;
  
    display: grid;
    justify-items: center;
    align-items: center;
}



#info_2{
  border-top: 5px solid #212121;
  border-bottom: 1px solid #EFEFEF;

  display: grid;
  justify-items: center;
  align-items: center;

  font-size: large;
  font-family: 'Bold Italic', sans-serif;
  font-weight: 700;
}
#info_3{
  border-top: 5px solid #212121;
  border-bottom: 1px solid #EFEFEF;

  display: grid;
  justify-items: center;
  align-items: center;

  font-size: large;
  font-family: 'Bold Italic', sans-serif;
  font-weight: 700;
}
#info_4{
  border-top: 5px solid #212121;
  border-bottom: 1px solid #EFEFEF;

  display: grid;
  justify-items: center;
  align-items: center;

  font-size: large;
  font-family: 'Bold Italic', sans-serif;
  font-weight: 700;
}
/*---*/

  #product{
  display: grid;
  justify-items: center;
  align-items: center;
  

}

.product_item{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 5px;
  width: 100%;
  
}

/*---*/
#btn{
  display: flex;
  justify-content: center;
  align-content: center;
}
#btn input[type="button"]{
  width: 200px;
  height: 50px;
  margin: 5%;

  background-color: #212121;
  color: #EFEFEF;

  outline: none;
  border: none;
  font-family: 'Bold Italic', sans-serif;
  font-size: large;
  font-weight: bolder;

  display: flex;
  justify-content: center;
}

#btn input[type="button"]:hover{
  background-color: #EFEFEF;
  color: #212121;
}
