/* #box{
  background-color: #EFEFEF;
  height: 500px;
  width: 260px;
  margin: 1%;
} */

.main {
  display: grid;
  grid-template-rows: 500px auto;
  grid-template-columns: 260px auto;
 
}

#left{
  background-color: #EFEFEF;
  margin: 5%;
  display: grid;
  justify-items: center;
}


#name{
  position: static;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;

  font-size: 40px;
  font-weight: bolder;
  font-family: 'Bold Italic', sans-serif;
}

#view_ctg [type="button"]{
  display: flex;
  flex-direction: column;

  margin: 10px;
  font-family: 'Bold Italic', sans-serif;
  font-size: medium;

  background-color: transparent;
  border: none;
  outline: none;
}

/*--------------------*/

#right{
  background-color: #fefefe;
  display: grid;
  grid-template-rows: 1fr 2fr;
  overflow: auto;
}


#up_box{
  background-color: #EFEFEF;
  margin: 2%;
  margin-right: 0%;
  font-weight: bolder;
  font-size: larger;
  color: #EFEFEF;
  background-color: #212121;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  
}

#up_box pre{
  color: #d3d3d3;
  display: flex;
  justify-content: center;
  font-size: small;
  font-family: 'Bold Italic', sans-serif;
}

#down_box{
  margin: 2%;
  margin-right: 0%;
}

#down_box pre{
  margin-left: 4%;
  font-size: large;
  font-weight: bold;
  font-family: 'Bold Italic', sans-serif;
}

table{
  width: 100%;
  height: auto;
  text-align: center;
}

.main a{
  color: #7a7878;
  text-decoration-line: none;
}

