
/*------main--------*/

main{
  display: flex;
  flex-direction: column;
}

#img{
  display: flex;
  justify-content: center;
  margin: 5%;
}

/*--------main-(slides)----------*/

.slide{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.slide-contain,
.slide-contain2,
.slide-contain3 {
  position: relative;
  width: 350px;
  height: 400px;
  display: flex;
  justify-content: center;
  margin: 5%;
}

.myslide, .myslide2, .myslide3 {
  position: relative;
  width: 350px; /* 고정된 너비 */
  height: 400px; /* 고정된 높이 */
  overflow: hidden;
}

.myslide img, .myslide2 img, .myslide3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

