<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="CartMapper">
	<insert id="insertCart">
	INSERT INTO CART(
   	 cart_no,
   	 member_no,
   	 product_no,
   	 product_cnt
	)VALUES(
    SEQ_CART_NO.NEXTVAL,
   	 #{memberNo},
   	 #{productNo},
    	#{productCnt}
	);
	</insert>
	
	<select id="getCartList" resultType="com.kh.app.cart.vo.CartVo">
	SELECT 
    CART_NO,
    PRODUCT_CNT,
    MEMBER_NO,
    PRODUCT_NO,
    DESK_OPTION_NO,
    BED_OPTION_NO,
    SOFA_OPTION_NO,
    KITCHEN_WARE_OPTION_NO,
    CLEANING_STORAGE_OPTION_NO,
    TABLE_WARE_OPTION_NO,
    BEDDING_OPTION_NO,
    HOME_DECOR_OPTION_NO
FROM CART
WHERE member_no = #{memberNo}
	</select>

 	
</mapper>